<%= form_with(model: product, class: 'box') do |form| %>
  <%= render "partials/form_errors", record: product %>

	<%# TITLE %>
	<div class="field">
	  <%= form.label :title, class: 'label' %>

	  <p class="control">
	    <%= form.text_field :title, placeholder: 'Product name', class: 'input' %>
	  </p>
	</div>

	<%# DESCRIPTION %>
	<div class="field">
	  <%= form.label :description, class: 'label' %>

	  <p class="control">
	    <%= form.rich_text_area :description %>
	  </p>
	</div>

	<%# PRICE %>
	<div class="field">
	  <%= form.label :price, class: 'label' %>

	  <p class="control">
	    <%= form.text_field :price, placeholder: '€', class: 'input' %>
	  </p>
	</div>

	<%# UPLOAD IMAGE %>
	<div class="field">
	  <%= form.label :image, class: 'label' %>

	  <p class="control">
	    <%= form.file_field :image, class: 'input' %>
	  </p>
	</div>

  <div class="field is-grouped">
    <p class="control">
      <%= form.submit class: 'button is-success' %>
    </p>

    <p class="control">
      <%= link_to "Cancel", products_path, class: 'button' %>
    </p>
  </div>
<% end %>
