<section class="box columns" id="<%= dom_id @product %>">

  <%# PHOTO %>
  <figure class="column">
    <% if @product.image.attached? %>
      <%= image_tag @product.image, :alt => "photo of product " + @product.title %>
    <% else %>
      <%= image_tag image_path("a-toilet.jpg"), :alt => "photo of product " + @product.title %>
    <% end %>
  </figure>

  <%# HEADER %>
  <article class="column is-three-fifths">
    <header class="block">
      <h1 class="title is-2">
        <%= @product.title %>
      </h1>

      <h2 class="subtitle is-3">
        <%= number_to_currency @product.price, :unit => '€', separator: ",", delimiter: " ", format: "%n %u" %>
      </h2>
    </header>

  	<%# ADD TO CART %>
    <div class="columns">
      <div class="column is-half">
        <a href="#" class="button is-link is-fullwidth">Add to cart</a>
      </div>
    </div>

  	<%# DESCRIPTION %>
    <div class="content">
      <%= @product.description %>
    </div>

    <%# TODO: logged in %>
    <footer class="edit-links">
      <div class="buttons has-addons">
        <%= link_to "⇦ back", products_path, class: "button" %>
        <%= link_to "✎ edit product", edit_product_path(@product), class: "button" %>
      </div>

      <%= button_to "🗑", @product, method: :delete, class: "button",
        onclick: "return confirm('are you sure you want to delete this?');" %>
    </footer>
  </article>

</section>